/*--------------------| 
  -max-width: 1024px
|--------------------*/

@media screen and (max-width: 1024px) {
  .head-right a{
    font-size: 16px;
  }
}

/*--------------------| 
  -max-width: 768px
|--------------------*/

@media screen and (max-width: 768px) {
  .hideOnMobile{
    display: none;
  }

  .menu-button{
    display: block;
  }

  .head-right a{
    font-size: 15px;
  }

  .hero-info-left{
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .hero-info-left h2{
    font-size: 14px;
  }

  .hero-info-left hr{
    margin: auto;
  }

  .hero-info-left h1{
    font-size: 36px;
  }

  .hero-info-right p{
    font-size: 16px;
  }

  .hero-item::before{
    background: rgba(0, 0, 0, 0.3);
  }

  .card-holder{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  }

  .news-block{
    display: flex;
    flex-direction: column;
  }

  .footer-up {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .footer-left {
    align-items: center;
  }

  .footer-left img {
    margin-bottom: 15px;
  }

  
  .footer-right {
    align-items: center;
    text-align: center;
  }

  .footer-right p {
    margin: 15px 0 25px 0;
    max-width: 100%;
  }

  .newsletter-form {
    margin: 0 auto; 
    width: 100%; 
    max-width: 500px;
  }

  .footer-down {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
  }

  .footer-down ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 15px 10px;
  }

  .footer-down a {
    margin: 0 10px;
    font-size: 16px;
  }

  .footer-down p {
    font-size: 14px;
  }

  .author-content {
    flex-direction: column-reverse;
    gap: 30px;
    text-align: center;
  }

  .author-details {
     align-items: center; 
  }

  .author-img {
    width: 80%; 
    max-width: 300px;
  }

  .wrapper h3{
    font-size: 14px;
  }

  .wrapper h1{
    font-size: 36px;
  }

  .wrapper i{
    font-size: 16px;
  }
  
  .text-section h2{
    font-size: 24px;
  }

  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .driver-card {
    flex-direction: column;
  }
}

/*--------------------| 
  -max-width: 425px
|--------------------*/

@media screen and (max-width: 425px){
  .sidebar{
    width: 100%;
  }

  .head-right a{
    font-size: 14px;
  }

  .card-holder{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer {
    padding: 40px 15px;
  }

  .newsletter-form button {
    padding: 0 20px;
  }
    
  .footer-down ul {
    flex-direction: column;
    gap: 15px;
  }
}

